{% extends 'base.html.twig' %}

{% block title %} Liste des Voyages{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Accroche</th>
                <th>Description</th>
                <th>Prix</th>
{#                <th>Image1</th>#}
{#                <th>Image2</th>#}
{#                <th>Image3</th>#}
{#                <th>Pdf</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for travel in travel %}
            <tr>
                <td><strong></strong>{{ travel.id }}</strong></td>
                <td>{{ travel.name }}</td>
                <td>{{ travel.hook }}</td>
                <td>{{ travel.description }}</td>
                <td>{{ travel.price | number_format(2) }} €</td>
{#                <td>{{ travel.image1 }}</td>#}
{#                <td>{{ travel.image2 }}</td>#}
{#                <td>{{ travel.image3 }}</td>#}
{#                <td>{{ travel.pdf }}</td>#}
                <td>
                    <a class="btn btn-outline-dark" href="{{ path('travel_show', {'id': travel.id}) }}">Détails</a>
                    <a class="btn btn-outline-dark" href="{{ path('travel_edit', {'id': travel.id}) }}">Modifier</a>
                    <a class="btn btn-outline-dark"> {{ include('travel/_delete_form.html.twig') }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('travel_new') }}">Ajouter</a></div>

{% endblock %}
